COUCHNESS_TELEGRAM_BOT_TOKEN=
COUCHNESS_TELEGRAM_OWNER_ID=
COUCHNESS_TRANSMISSION_USER=couchness
COUCHNESS_TRANSMISSION_PASSWORD=
COUCHNESS_OMDB_API_KEY=
COUCHNESS_DATA_DIR=/opt/couchness-data
PLEX_CLAIM=
TZ=America/Santiago
